<div class="wheel-container">
 <ul class="cards-container cards" [style.--items]="pokemons.length">
	<li *ngFor="let pokemon of pokemons; let i = index" [style.--i]="i" [attr.data-name]="pokemon.name">
		<input type="radio" id="item-{{pokemon.id}}" name="gallery-item" [checked]="pokemon.id === selectedPokemonId" (change)="selectedPokemonId = pokemon.id; startAutoRotate()">
		<label for="item-{{pokemon.id}}">
			<img src="{{pokemon.smallImage}}" alt="Imagen pequeña de {{pokemon.name}}">
		</label>
		<img src="{{pokemon.largeImage}}" loading="lazy" alt="Imagen grande de {{pokemon.name}}">
		<h2>{{pokemon.name}}</h2>
		<p>{{pokemon.description}}</p>
	</li>
</ul>
</div>
