<div class="wheel-container">
  <div class="wheel">
    <div
  class="sector"
  *ngFor="let servicio of servicios; let i = index"
  [style.--angle]="getAngle(i) + 'deg'"
  [style.transform]="'rotate(' + getAngle(i) + 'deg) translateY(-100%)'"
  [style.transitionDelay]="getAnimationDelay(i)"
>

      <div class="sector-content" [style.transform]="'rotate(' + (-getAngle(i)) + 'deg)'">
        <div class="icon"> <img [src]="servicio.imagen" alt="{{ servicio.nombre }}" /></div>
        <div class="label">{{ servicio.nombre }}</div>
      </div>
    </div>
    <div class="center">
        <div style="transform: scale(1);">
       <img src="assets/assetsTeam/logoMeta.svg" alt="">
    </div>
    </div>
  </div>
</div>
