<section id="contact">
<div class="containerContact">
<div class="container2">
  <p class="form-headingC">CONTÁCTANOS</p>

  <div class="contactGrid">
    <div class="contactBox">
      <h3>Ubicación</h3>
      <p>Av. Excombatientes y Psj. 15 de agosto, Cochabamba, Bolivia</p>
    </div>

    <div class="contactBox">
      <h3>Teléfono</h3>
      <a >+591 75480182</a>
    </div>

    <div class="contactBox">
      <h3>Email</h3>
      <p>metamorfodgtl&#64;gmail.com</p>
    </div>

    <div class="contactBox">
      <h3>Horario</h3>
      <p>Lunes a Viernes<br>9am - 6pm</p>
    </div>
  </div>
</div>

<div class="container1">
    <form  id="form" class="form">
        <p class="form-heading">ENVIA UN MENSAJE</p>
    
        <div class="form-field">
            <input 
            id="nombre"
            required="" 
            placeholder="Nombre"
            class="input-field"
            type="text" 
            />
        </div>
    
        <div class="form-field">
            <input 
            id="email"
            type="email"
            placeholder="Correo Electrónico" 
            class="input-field" 
            />
        </div>
        
        <!-- Nuevo campo para número de teléfono con código de país -->
        <div class="numcontry">
        <div class="form-field contry-field">
            <input 
                id="codeContry"
                required="" 
                placeholder="+1" 
                class="input-field country-code" 
                type="text" maxlength="4" />
            </div>
        <div class="form-field phone-field">
            <input 
            id="telefono"
            required="" 
            placeholder="Numero de Teléfono" 
            class="input-field phone-number" 
            type="tel" />
        </div>
        </div>
        <div class="form-fieldM">
            <textarea 
            id="mensaje"
            required="" 
            placeholder="Mensaje" 
            cols="3" rows="1"   
            class="input-fieldM"></textarea>
        </div>
    
        <button
        type="submit" 
        class="sendMessage-btn">Enviar Mensaje</button>
    </form>
    
  
</div>
</div>
</section>