<section id="adminPanel">
  <div class="container">
    <h1>Panel de Administración</h1>
            <button class="back-button" (click)="logout()">Cerrar sesión</button>
 

    <div class="boxes-container">
      <div
        class="admin-box-wrapper"
        *ngFor="let box of adminBoxes"
      >
        <a
          class="admin-box"
          [ngClass]="box.color"
         [routerLink]="box.route"
        >
          <h2>{{ box.title }}</h2>
          <p>{{ box.description }}</p>
        </a>
      </div>
    </div>
  </div>
</section>
