<section id="home" class="hero-section">
  
  
  <div class="navegador">
     <a class="ADMI" routerLink='/admin' >
      <img class="botonAdmin" src="assets/assetsHome/redes-sociales.gif" alt="r">
    </a>
  <app-navbar ></app-navbar>
  </div>
  <!-- Fondo animado DotGrid -->
  <div class="dot-grid">
    <div #wrapperRef class="dot-grid__wrap">
      <canvas #canvasRef class="dot-grid__canvas"></canvas>
    </div>
  </div>
  <img src="" alt="">

  <!-- Contenido principal -->
  <div class="container1">
   <!-- Animación para el título principal -->
<h3 translate="no"
  style="display: block; font-weight: bold;"
>
  METAMORFO
</h3>

<!-- Subtítulo DIGITAL -->
<h3 translate="no"
  style="display: block; font-size: 1rem; letter-spacing: 4px;"
>
  DIGITAL
</h3>

<!-- Frase motivacional -->
<p style="display: block; font-size: 1rem; margin-top: 1rem;">
  Impulsa tu proyecto con tecnología y creatividad
</p>

<!-- Párrafo largo -->
<p style="display: block; font-size: 1rem; margin-top: 1rem;">
  Desde la idea hasta la ejecución, en METAmorfo te acompañamos con herramientas digitales, diseño personalizado y experiencia real.<br>
  Nuestro compromiso: servirte, enseñarte y darte resultados.
</p>

  </div>
  <div class="container2">
<app-weapon-wheel></app-weapon-wheel>
  </div>

</section>




